@charset "utf-8";
/* CSS Document */

body {
	
	font-family: sans-serif;
	background-color: lightgray;
}



main {
	width: 60%;
	max-width: 600px;
	margin: 0 auto;
	background-color: aliceblue;
	padding: 10px;
	align-items: center;
}
img {	
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	
}
